:root {
  --color-light: #fefaf2;
  --color-white: #fefaf2;
  --color-unaccent: #808080;
  --color-medium: #e8e8e8;
  --color-dark: #a1a1a1;
  --color-green: #2a4c39;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: var(--color-light);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

.zrp-header {
  width: 100%;
  height: 50px;
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 160%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-green);
  text-align: center;
  font-size: 13px;
}

.zrp-header__link {
  color: var(--color-medium);  
}

.brand-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 100px 20px;
}

.brand-info__photo {
  flex-shrink: 0;
  width: 40%;
  height: auto;
}

.brand-info__text {
  width: 700px;
  height: 400px;
}

.brand-info__text-box--quote {
  padding: 50px 0;
}

.brand-info__text-box, .brand-info__text-box--quote {
  font-size: 17px;
}

.line {
  border-bottom: 1px solid lightgray;
 }

 .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 0.13);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 5px;
  transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span {
  background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.logo {
  display: block;
}

.logo__img {
  width: 200px;
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  font-size: 16px;
}

@media (max-width: 992px) {
  .header__burger-btn {
      display: block;
  }
  .header__menu {
      position: absolute;
      left: -353px;
      top: 49px;
      width: 350px;
      background-color: #2a4c39;
      padding: 75px 20px 20px 20px;
      transition: transform .5s;
  }
  .menu__list {
      display: block;
  }
  .menu__link {
      color: white;
      font-size: 21px;
      display: block;
      padding: 10px 0;
  }
  .header.open .header__menu {
      transform: translateX(100%);
  }
}

@media screen and (max-width: 1250px) {
  .brand-info {
    flex-direction: column;
    align-items: center;
    padding: 50px 25px;
  }
  .brand-info__photo {
    width: 90%;
  }
  .brand-info__text {
    margin-top: 50px;
    width: 90%;
  }
}

